.account-list {
    width: 250px;
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
    z-index: 2;
    @media (max-width: 1024px) {
        width: 90px;
    }
    @media (max-width: 480px) {
        width: 100%;
    }
    ul {
        padding-top: 5em;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        @media (max-width: 480px) {
            flex-direction: row;
            padding-top: 0;
            justify-content: space-between;
        }
    }
}
