.order-viewer {
    min-height: 100vh;
    margin-bottom: -80px;
    display: flex;
    flex-direction: column;
    position: relative;
    .order-viewer-container {
        width: 100%;
        margin-top: 110px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        @media (max-width: 1024px) {
            margin-top: 80px;
        }
        .order-viewer-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 1em;
            padding-bottom: 1em;
            .back-btn {
                margin-left: 1em;
                font-size: 2.5em;
                position: relative;
                z-index: 6;
                @media (max-width: 500px) {
                    margin-left: 0.5em;
                }
            }
            h2 {
                font-size: 2.5em;
                position: relative;
                width: 100%;
                text-align: center;

                @media (max-width: 500px) {
                    font-size: 1.5em;
                }
            }
        }
        .order-viewer-form {
            padding-top: 1em;
            .form-row {
                position: relative;
                width: 50%;
                left: 25%;
                padding: 1em 0;
                @media (max-width: 1024px) {
                    width: 80%;
                    left: 10%;
                }

                @media (max-width: 500px) {
                    width: 95%;
                    left: 2.5%;
                }

                p {
                    padding: 0.5em;
                }
                .form-row-wrapper {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    & > span {
                        width: 250px;
                        @media (max-width: 1024px) {
                            width: 230px;
                        }
                        @media (max-width: 500px) {
                            font-size: 1em;
                            width: 185px;
                            padding-right: 0.35em;
                            padding-left: 0.35em;
                        }
                    }

                    .order-address-list {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.white-btn {
    background-color: white;
}
.white-btn,
.form-btn {
    border-width: 4px;
}
