.user-button {
    color: black;
    padding: 0.5em 1em;
    font-size: 1.25em;
    border: 1px solid #f5c537;
    border-radius: 1.25em;
    background-color: #f5c537;
    text-align: center;
    cursor: pointer;
}
