.custom-alert {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    // background: #f5c537;
    background: rgba($color: #000000, $alpha: 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    .custom-alert-wrapper {
        width: 50%;
        background: transparent;

        @media (max-width: 1024px) {
            width: 80%;
        }

        @media (max-width: 500px) {
            width: 95%;
        }
    }
}
