.checkout-item {
    align-items: center;
    margin-top: 10px;
    margin-bottom: 1.5em;
    img {
        width: 150px;
        @media (max-width: 500px) {
            width: 100px;
        }
    }
    .checkout-item-content {
        width: 70%;
        display: flex;
        float: left;
        align-items: center;

        @media (max-width: 1024px) {
            width: 90%;
        }

        @media (max-width: 500px) {
            align-items: flex-start;
        }

        .checkout-item-description {
            padding-left: 1em;
        }
    }
    .checkout-item-buttons {
        width: 25%;
        float: left;
        position: relative;
        margin: 0;
        display: flex;
        height: 150px;
        justify-content: center;
        align-items: center;
        @media (max-width: 1024px) {
            clear: both;
            width: 100%;
            text-align: center;
            margin: 0;
            height: 35px;
        }
        @media (max-width: 500px) {
            margin-top: 1em;
        }

        .checkout-btn {
            background-color: #f5c537;
            padding: 10px;
            border: 1px #f5c537 solid;
            border-radius: 10px;
            margin: 5px;
            font-size: small;
        }
        .checkout-items-count {
            margin: 5px;
        }
    }
    .checkout-btn-remove {
        position: relative;
        top: 1.5em;
    }
}
