.menu-item {
    width: 20vw;
    position: relative;
    height: 100%;
    float: left;
    padding-bottom: 2em;
    text-align: center;
    @media (max-width: 1024px) {
        width: 45vw;
    }
    @media (max-width: 500px) {
        width: 90vw;
    }
}
.menu-item-container {
    box-sizing: content-box;
    width: 18vw;
    height: 100%;
    top: 5%;
    left: 1vw;
    position: relative;
    p {
        padding-bottom: 2em;
    }
    @media (max-width: 1024px) {
        width: 40.5vw;
        left: 2.25vw;
    }
    @media (max-width: 500px) {
        width: 81vw;
        left: 4.5vw;
    }
    .photo-container {
        width: 18vw;
        height: 18vw;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #f5f5f5;
        @media (max-width: 1024px) {
            width: 81vw;
            height: 81vw;
        }
        img {
            width: 14vw;
            height: 14vw;
            @media (max-width: 1024px) {
                width: 64.8vw;
                height: 64.8vw;
            }
        }
    }
    .item-desc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5em 0;
        .item-name {
            font-weight: bold;
        }
    }

    .add-checkout-btn {
        padding: 1em 1.5em;
        color: black;
        background-color: #f5c537;
        border-radius: 10px;
        transition: 0.35s;
        a {
            text-decoration: none;
            color: black;
            font-size: large;
        }
        &:hover {
            box-shadow: inset 0 0 0 rgb(133, 133, 133),
                0 0 0.5em rgb(133, 133, 133);
        }
    }
    &:hover {
        box-shadow: inset 0 0 0.1em rgb(236, 236, 236),
            0 0 1.5em rgb(238, 238, 238);
        .item-desc {
            padding: 1.5em;
            transition: 0.3s linear;
        }
        .photo-container {
            img {
                transform: scale(1.1);
                transition: 0.3s linear;
            }
        }
    }
}
