.account-viewer {
    min-height: 100vh;
    margin-bottom: -80px;
    display: flex;
    flex-direction: row;
    position: relative;
    @media (max-width: 480px) {
        flex-direction: column;
    }
    .account-viewer-container {
        width: 100%;
        margin-top: 110px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: row;

        @media (max-width: 480px) {
            margin-top: 80px;
            flex-direction: column;
        }
    }
}
