.menu {
    min-height: 100vh;
    margin-bottom: -80px;
    display: flex;
    flex-direction: row;
    position: relative;
    .menu-container {
        width: 100%;
        margin-top: 110px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: row;

        @media (max-width: 480px) {
            flex-direction: column;
        }
        .menu-buttons-desktop {
            ul {
                width: 200px;
            }
        }

        .menu-buttons-mobile {
            width: auto;
        }
    }
}

.custom-pizza-list-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-height: 85vh;

    .custom-pizza-list-wrapper {
        width: 100%;
        background-color: #fff;
        border: 4px solid #f5c537;
        border-radius: 1.5em;
        padding: 1em 0.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 85vh;

        .custom-pizza-list {
            padding-top: 1em;
            overflow-y: auto;
        }

        & > span {
            margin-top: 1em;
        }

        & > p {
            text-align: right;
            width: 100%;
            font-size: 2em;
            padding-right: 0.25em;
        }
    }
}
